:root {
    --blue-light: #d0d0ff;
    --blue-dark: #000111;
    --grey-light: #8686c0;
    --grey-middle: #313156;
    --grey-dark: #303044;

    --jump: jump 1.3s ease infinite;

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", "Roboto", sans-serif;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom, var(--blue-dark), var(--grey-middle));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--blue-dark);
}

p {
    color: var(--blue-light);
}

button {
    cursor: pointer;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    
    15% {
        transform: translateY(-1rem);
    }
    
    30% {
        transform: translateY(0);
    }
    
    45% {
        transform: translateY(-0.7rem);
    }

    60% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
};

@media screen and ( max-width: 600px) {
    :root {
        font-size: .8rem;
    }
}