.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 3rem;
}

.menu {
    display: flex;
    gap: .5rem;
    list-style: none;
}

.menuItem {
    padding: .5rem .7rem;
    border-radius: .2rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color .3s ease, background-color .3s ease;
}

.menuItem:hover {
    color: var(--blue-dark);
    background: var(--blue-light);
}