.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-left: 3rem;
    position: relative;
    top: 15%;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
        line-height: 1.5rem;
    }
}

.avatar {
    width: 120px;
    border-radius: 50%;
}