.menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    button:hover::after {
        position: absolute;
        bottom: -1.5rem;
        width: 5rem;
        color: white;
        text-transform: uppercase;
        font-size: .6rem;
    }

    button:nth-child(1):hover::after {
        content: "Home";
    }
    button:nth-child(2):hover::after {
        content: "Projects";
    }
    button:nth-child(3):hover::after {
        content: "Education";
    }
    button:nth-child(4):hover::after {
        content: "Contact";
    }
    button:nth-child(5):hover::after {
        content: "About me";
    }
}