:root {
    --blue-dark: #000111;
    --blue-light: #d0d0ff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--blue-light);
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: var(--blue-dark);
}