:root {
    --blue-dark: #000111;
    --blue-light: #d0d0ff;
    --grey-light: #8686c0;

    --jump: jump 1.3s ease infinite;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--blue-dark);
}

p {
    color: var(--blue-light);
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    
    15% {
        transform: translateY(-1rem);
    }
    
    30% {
        transform: translateY(0);
    }
    
    45% {
        transform: translateY(-0.7rem);
    }

    60% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
};